<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" color="primary" backgroundColor="accent" *ngIf="account$ | async as account">
    <mat-tab label="Opérations">
        <table>
            <thead>
                <tr>
                    <th>Solde</th>
                    <th colspan="2"></th>
                    <th class="center" [ngClass]="{'payment' : account.balance > 0, 'withdraw': account.balance <= 0}">{{account.balance | currency:'EUR':'symbol':'1.1-2'}}</th>
                </tr>
                <tr><th>Date</th><th>Opération</th><th>Débit</th><th>Crédit</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions$ | async">
                    <td class="center">{{transaction.executionDate | date:'shortDate'}}</td>
                    <td><a routerLink="/accounts/{{account.id}}/transactions/{{transaction.id}}">{{transaction.wording}}</a></td>
                    <td class="center withdraw"> {{transaction.withdraw | transaction:'withdraw' | currency:'EUR':'symbol':'1.1-2' }}</td>
                    <td class="center payment"> {{transaction.payment | transaction:'payment' | currency:'EUR':'symbol':'1.1-2' }}</td>
                </tr>
            </tbody>
        </table>
    </mat-tab>

    <mat-tab label="Caractéristiques">
        <mat-card>
            <mat-card-title>{{account.label}}</mat-card-title>
            <mat-card-title class="card-label">Type de compte: {{account.accountType | accountType}}</mat-card-title>
            <mat-card-title class="card-label">Date d'ouverture: {{account.creationDate | date:'mediumDate'}}</mat-card-title>
            <mat-card-title *ngIf="account.bankOverdraft" class="card-label">Découvert autorisé: {{account.bankOverdraft | currency:'EUR':'symbol':'1.1-2'}}</mat-card-title>
            <mat-card-title *ngIf="account.interestRate" class="card-label">Taux d'intérêt: {{account.interestRate/100 | percent:'1.1-2'}}</mat-card-title>
        </mat-card>
    </mat-tab>
</mat-tab-group>