<mat-toolbar color="primary">
    <span>BankManagement</span>
    
    <nav *ngIf="logged$ | async">
        <ul>
            <li><a routerLink="/home">Accueil</a></li>
            <li><a routerLink="/accounts">Comptes</a></li>
            <li><a routerLink="/transfer">Virement</a></li>
            <li><a routerLink="/budget">Budget</a></li>
        </ul>
    </nav>

    <nav *ngIf="(logged$ | async) == false">
        <ul>
            <li><a routerLink="/login">Connexion</a></li>
            <li><a routerLink="/docs">Documentation</a></li>
        </ul>
    </nav>

    <span class="spacer"></span>

    <button mat-icon-button *ngIf="logged$ | async" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
    </button>
</mat-toolbar>
