.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorite-account-card{
    width: 340px;
    min-height: 100px;
    margin-bottom: 10px;
}

.balance{
    color:#1A237E;
    font-size: 1.2vw;
}

.label{
    font-size: 1vw;
}

/* mat-card{
    border: 3px solid #00A4BD;
} */
