<mat-card>
    <mat-card-title>Budget Section [PAGE UNDER CONSTRUCTION]</mat-card-title>
    <h1>Liste des fonctionnalitées souhaitée:</h1>
    <ul>
        <li>Trier les transactions par catégories/annotations, les compter, évaluer les dépenses</li>
        <li>Tracer une courbe d'évolution du solde en fonction du temps, pouvoir sélectionner une tranche de dates</li>
        <li>Balance revenues/dépenses par mois</li>
        <li>Effectuer une recherche sur les transactions en fonction du libellé, date, montant...</li>
    </ul>
</mat-card>